<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      lang="de" data-namespace-typo3-fluid="true">
<head>
    <meta charset="utf-8">
    <title>Template: List</title>
</head>
<body>

<f:layout name="Default"/>

<f:section name="content">
    <f:flashMessages/>
    <f:if condition="{questions}">
        <div class="accordion{f:if(condition: '{settings.accordionFlush} == 1', then: ' accordion-flush')}"
             id="accordion-{data.uid}">
            <f:for each="{questions}" as="question" iteration="questionIterator">
                <div class="accordion-item">
                    <h{data.header_layout + 1} class="accordion-header" id="heading-{question.uid}">
                        <f:if condition="{questionIterator.isFirst} && {settings.initialView} == 0">
                            <f:then>
                                <button class="accordion-button" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse-{question.uid}"
                                        aria-expanded="true" aria-controls="collapse-{question.uid}">
                                    {question.question}
                                </button>
                            </f:then>
                            <f:else>
                                <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse-{question.uid}"
                                        aria-expanded="false" aria-controls="collapse-{question.uid}">
                                    {question.question}
                                </button>
                            </f:else>
                        </f:if>
                    </h{data.header_layout + 1}>
                    <f:if condition="{questionIterator.isFirst} && {settings.initialView} == 0">
                        <f:then>
                            <div id="collapse-{question.uid}" class="accordion-collapse collapse show"
                                 {f:if(condition: '{settings.alwaysOpen} != 1', then: 'data-bs-parent="#accordion-{data.uid}"')}
                                 aria-labelledby="heading-{question.uid}">
                                <div class="accordion-body">
                                    {question.answer -> f:format.html()}
                                    <f:if condition="{question.link}">
                                        <f:link.typolink parameter="{question.link}">
                                            <f:translate key="button.more" default="more"/>
                                        </f:link.typolink>
                                    </f:if>
                                </div>
                            </div>
                        </f:then>
                        <f:else>
                            <div id="collapse-{question.uid}" class="accordion-collapse collapse"
                                 {f:if(condition: '{settings.alwaysOpen} != 1', then: 'data-bs-parent="#accordion-{data.uid}"')}
                                 aria-labelledby="heading-{question.uid}">
                                <div class="accordion-body">
                                    {question.answer -> f:format.html()}
                                    <f:if condition="{question.link}">
                                        <f:link.typolink parameter="{question.link}">
                                            <f:translate key="button.more" default="more"/>
                                        </f:link.typolink>
                                    </f:if>
                                </div>
                            </div>
                        </f:else>
                    </f:if>
                </div>
            </f:for>
        </div>
        <f:if condition="!{settings.disableStructuredData}">
        <script type="application/ld+json">
            {json -> f:format.raw()}
        </script>
        </f:if>
    </f:if>
</f:section>

</body>
</html>
